Snakemake executor plugin: {{ plugin_name }}
###########################################

{{ desc }}

Installation
------------

Install this plugin by installing it with pip or mamba, e.g.::

    pip install snakemake-executor-plugin-{{ plugin_name }}

Usage
-----

In order to use the plugin, run Snakemake (>=8.0) with the corresponding value for the executor flag::

    snakemake --executor {{ plugin_name }} ...

with ``...`` being any additional arguments you want to use.

{% if settings %}
In particular, consider the special arguments that are available for the executor:

.. list-table:: Settings
   :header-rows: 1

   * - CLI argument
     - Description
     - Default
     - Choices
     - Required
     - Type
{% for setting in settings %}
   * - ``{{ setting["cliarg"] }} {{ get_setting_meta(setting, "metavar", default="VALUE") }}``
     - {{ get_setting_meta(setting, "desc") }}
     - {{ get_setting_meta(setting, "default", verb=True) }}
     - {{ get_setting_meta(setting, "choices") }}
     - {{ get_setting_meta(setting, "required") }}
     - {{ get_setting_meta(setting, "type") }}
{% endfor %}

{% endif %}
