{% extends "plugin_base.rst.j2" %}

{% block type %}executor{% endblock %}

{% block usage %}
In order to use the plugin, run Snakemake (>=8.0) with the corresponding value for the executor flag::

    snakemake --executor {{ plugin_name }} ...

with ``...`` being any additional arguments you want to use.
{% endblock %}