Snakemake plugin catalog
========================

This catalog collects information about and documentation of all Snakemake plugins
published on `PyPI <https://pypi.org/>`_.
Note that plugin support will appear in `Snakemake 8 <https://github.com/snakemake/snakemake/issues/2409>`_.

Contributing
------------

* Improving PRs or issues with the plugin catalog (only the catalog not the plugins themselves) can be made `here <http://github.com/snakemake/snakemake-plugin-catalog>`_.
* Improving PRs or issues with the plugins themselves can be made at the respective plugin repository (see the docs of each plugin here).
* Resources for contributing to new plugin development include the `snakemake-interface-executor-plugins <https://github.com/snakemake/snakemake-interface-executor-plugins>`_ (along with the `poetry-snakemake-plugin <https://github.com/snakemake/poetry-snakemake-plugin>`_) and by referring to existing plugin repositories.

{% for plugin_type, plugins in plugins.items() %}
.. toctree::
   :hidden:
   :caption: {{ plugin_type }} plugins

   {% for plugin_name in plugins %}
   {{ plugin_name }} <plugins/{{ plugin_type }}/{{ plugin_name }}>
   {% endfor %}
{% endfor %}

