Snakemake plugin catalog
========================

This catalog collects information about and documentation of all Snakemake plugins
published on `PyPI <https://pypi.org/>`_.
Note that plugin support will appear in `Snakemake 8 <https://github.com/snakemake/snakemake/issues/2409>`_.

Contributing
------------

* Improving PRs or issues with the plugin catalog (only the catalog not the plugins themselves) can be made `here <http://github.com/snakemake/snakemake-plugin-catalog>`_.
* Improving PRs or issues with the plugins themselves can be made at the respective plugin repository (see the docs of each plugin here).
* Resources for contributing to new plugin development include the `snakemake-interface-executor-plugins <https://github.com/snakemake/snakemake-interface-executor-plugins>`_ and `snakemake-interface-storage-plugins <https://github.com/snakemake/snakemake-interface-storage-plugins>`_ (along with the `poetry-snakemake-plugin <https://github.com/snakemake/poetry-snakemake-plugin>`_ for automatically generating skeleton code) and referring to existing plugin repositories.
* New plugins will be automatically found on PyPI (which implies that they have to be released to PyPI first) and added to this catalog. If you expect your plugin to appear here but do not see it, please check the `nightly github action <https://github.com/snakemake/snakemake-plugin-catalog/actions/workflows/deploy.yml>`_ for errors with your plugin (will occur in the logs).

{% for plugin_type, plugins in plugins.items() %}
.. toctree::
   :hidden:
   :caption: {{ plugin_type }} plugins

   {% for plugin_name in plugins %}
   {{ plugin_name }} <plugins/{{ plugin_type }}/{{ plugin_name }}>
   {% endfor %}
{% endfor %}

