Snakemake plugin catalog
========================

This catalog collects information about and documentation of all Snakemake plugins
published on `PyPI <https://pypi.org/>`_.
Note that plugin support is available in `Snakemake 8.0 <https://snakemake.github.io>`_ and later.
Via plugins, Snakemake enables users and developers to extend the core functionality, e.g. by providing backends for execution and storage, or supporting different ways of logging or scheduling.
Via stable, concise, and well documented semantically versioned interfaces, plugin evolution can happen independently of the main Snakemake codebase.
The following illustration depicts the general architecture of Snakemake and its plugin interfaces:

.. image:: _static/snakemake-architecture.svg
   :alt: Snakemake plugin architecture

Contributing
------------

Improve existing plugins
^^^^^^^^^^^^^^^^^^^^^^^^

Improve existing plugins by filing issues or creating pull requests at the respective plugin Github repository (see the docs of each plugin here).

Create new plugins
^^^^^^^^^^^^^^^^^^

Snakemake offers the following plugin types (the list will be further extended in the future):

* executor plugins
* storage plugins
* logger plugins
* report plugins
* scheduler plugins

Each plugin type has a dedicated plugin interface package which offers stable and semantically versioned Python base classes that have to be implemented.
The interfaces are documented in the respective plugin interface repositories:

* `snakemake-interface-executor-plugins <https://github.com/snakemake/snakemake-interface-executor-plugins>`__
* `snakemake-interface-storage-plugins <https://github.com/snakemake/snakemake-interface-storage-plugins>`__
* `snakemake-interface-logger-plugins <https://github.com/snakemake/snakemake-interface-logger-plugins>`__
* `snakemake-interface-report-plugins <https://github.com/snakemake/snakemake-interface-report-plugins>`__
* `snakemake-interface-scheduler-plugins <https://github.com/snakemake/snakemake-interface-scheduler-plugins>`__

When starting a new plugin, use the `snakedeploy scaffold-snakemake-plugin <https://snakedeploy.readthedocs.io/en/stable/snakemake_developers/scaffold_snakemake_plugins.html>`__ subcommand.
It will generate skeleton code for your desired plugin type as well as adding a testing infrastructure and continuous integration.

New plugins will be automatically found on PyPI (which implies that they have to be released to PyPI first) and added to this catalog.
If you expect your plugin to appear here but do not see it, please check the `nightly github action <https://github.com/snakemake/snakemake-plugin-catalog/actions/workflows/deploy.yml>`_ for errors with your plugin (will occur in the logs).

Improve the catalog
^^^^^^^^^^^^^^^^^^^

Improve the catalog itself by filing issues or creating pull requests at https://github.com/snakemake/snakemake-plugin-catalog.


{% for plugin_type, plugins in plugins.items() %}
.. toctree::
   :hidden:
   :caption: {{ plugin_type }} plugins

   {% for plugin_name in plugins %}
   {{ plugin_name }} <plugins/{{ plugin_type }}/{{ plugin_name }}>
   {% endfor %}
{% endfor %}

