{% extends "plugin_base.rst.j2" %}

{% block type %}scheduler{% endblock %}

{% block usage %}
In order to use the plugin, run Snakemake (>=9.0) with the corresponding value for the scheduler flag::

    snakemake --scheduler {{ plugin_name }} ...

with ``...`` being any additional arguments you want to use.
{% endblock %}
