{% set settings_label = plugin_name + "_settings" %}

Snakemake storage plugin: {{ plugin_name }}
###########################################

{% if repository is not none %}
.. image:: https://img.shields.io/badge/repository-{{ repository_type }}-blue?color=%23022c22
   :target: {{ repository }}
{% else %}
.. image:: https://img.shields.io/badge/repository-unknown-blue?color=%23022c22
   :target: #
{% endif %}

.. image:: https://img.shields.io/badge/author-{{meta["info"]["author"]|replace("-","--")|urlencode}}-purple?color=%23064e3b
   :target: https://pypi.org/project/{{ package_name }}

.. image:: https://img.shields.io/pypi/v/{{ package_name }}?color=%23047857
   :alt: PyPI - Version
   :target: https://pypi.org/project/{{ package_name }}

.. image:: https://img.shields.io/pypi/l/{{ package_name }}?color=%2310b981
   :alt: PyPI - License
   :target: https://pypi.org/project/{{ package_name }}

{% if error is not none %}
.. error::
    {{ error }}
{% endif %}

{% if docs_warning %}
.. warning::
    {{ docs_warning }}
{% endif %}

{% if docs_intro %}
{{ docs_intro }}
{% endif %}

Installation
------------

Install this plugin by installing it with pip or mamba, e.g.::

    pip install snakemake-storage-plugin-{{ plugin_name }}

Usage
-----

Queries
^^^^^^^

Queries to this storage should have the following format:

.. list-table::
    :header-rows: 1

    * - Query type
      - Query
      - Description
{% for example in example_queries %}
    * - {{ example["type"] }}
      - ``{{ example["query"] }}``
      - {{ example["desc"] }}
{% endfor %}

As default provider
^^^^^^^^^^^^^^^^^^^
If you want all your input and output (which is not explicitly marked to come from 
another storage) to be written to and read from this storage, you can use it as a 
default provider via:

.. code-block:: bash

    snakemake --default-storage-provider {{ plugin_name }} --default-storage-prefix ...

with ``...`` being the prefix of a query under which you want to store all your 
results.
{% if settings %}
You can also pass custom settings via command line arguments:

.. code-block:: bash

    snakemake --default-storage-provider {{ plugin_name }} --default-storage-prefix ... \
        {% for setting in settings %}
        {{ setting["cliarg"] }} ... {% if not loop.last %}\{% endif %}
        {% endfor %}

{% endif %}

Within the workflow
^^^^^^^^^^^^^^^^^^^

If you want to use this storage plugin only for specific items, you can register it
inside of your workflow::

    # register storage provider (not needed if no custom settings are to be defined here)
    storage:
        provider="{{ plugin_name }}",
        {% if settings %}
        # optionally add custom settings here if needed
        # alternatively they can be passed via command line arguments
        # starting with --storage-{{ plugin_name }}-..., see
        # snakemake --help
        {% for setting in settings %}
        # {{ setting["help"] }}
        {{ setting["name"] }}=...,
        {% endfor %}
        {% endif %}

    rule example:
        input:
            storage.{{ plugin_name }}(
                # define query to the storage backend here
                ...
            ),
        output:
            "example.txt"
        shell:
            "..."

{% if settings %}
Using multiple entities of the same storage plugin
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In case you have to use this storage plugin multiple times, but with different settings
(e.g. to connect to different storage servers), you can register it multiple times,
each time providing a different tag::

    # register shared settings
    storage:
        provider="{{ plugin_name }}",
        # optionally add custom settings here if needed
        # alternatively they can be passed via command line arguments
        # starting with --storage-{{ plugin_name }}-..., see below
        {% for setting in settings %}
        # {{ setting["help"] }}
        {{ setting["name"] }}=...,
        {% endfor %}

    # register multiple tagged entities
    storage foo:
        provider="{{ plugin_name }}",
        # optionally add custom settings here if needed
        # alternatively they can be passed via command line arguments
        # starting with --storage-{{ plugin_name }}-..., see below.
        # To only pass a setting to this tagged entity, prefix the given value with
        # the tag name, i.e. foo:{{ settings[0]["name"] }}=...
        {% for setting in settings %}
        # {{ setting["help"] }}
        {{ setting["name"] }}=...,
        {% endfor %}

    rule example:
        input:
            storage.foo(
                # define query to the storage backend here
                ...
            ),
        output:
            "example.txt"
        shell:
            "..."

.. _{{ settings_label }}:

Settings
^^^^^^^^

The storage plugin has the following settings (which can be passed via command line, 
the workflow or environment variables, if provided in the respective columns):

.. list-table::
   :header-rows: 1

   * - CLI setting
     - Workflow setting
     - Envvar setting
     - Description
     - Default
     - Choices
     - Required
     - Type
{% for setting in settings %}
   * - ``{{ setting["cliarg"] }} {{ get_setting_meta(setting, "metavar", default="VALUE") }}``
     - ``{{ setting["name"] }}``
     - ``{{ get_setting_meta(setting, "env_var") }}``
     - {{ get_setting_meta(setting, "help") }}
     - {{ get_setting_meta(setting, "default", verb=True) }}
     - {{ get_setting_meta(setting, "choices") }}
     - {{ get_setting_meta(setting, "required") }}
     - {{ get_setting_meta(setting, "type", default="str") }}
{% endfor %}

{% endif %}

{% if docs_further is not none %}
Further details
---------------

{{ docs_further }}
{% endif %}