.image-reference img {
    display: inline;
}

.image-reference {
    border-bottom: none !important;
}

table code.literal {
    white-space: nowrap !important;
}

#content {
    overflow-x: auto;
}

.admonition.error pre {
    overflow-y: auto;
    max-height: 20em;
}