name: Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '50 4 * * *'

defaults:
  run:
    shell: bash -leo pipefail {0} {0}

jobs:
  deploy:
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
        pages: write      # to deploy to Pages
        id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3

        - uses: mamba-org/setup-micromamba@v1
          with:
            environment-file: environment.yml
            init-shell: >-
              bash
            cache-environment: true
            post-cleanup: 'all'

        - name: Deploy lutra
          run: pip install git+http://github.com/pradyunsg/lutra@8f61563

        - name: Building
          run: make html

        - name: Setup Pages
          uses: actions/configure-pages@v3

        - name: Upload artifact
          uses: actions/upload-pages-artifact@v1
          with:
            path: "build/html"

        - name: Deploy artifact
          id: deployment
          uses: actions/deploy-pages@v1
